body {
    margin: 0pt;
}

#Overlapping_Text {
    text-align: left;
    font-family: Times New Roman;
    letter-spacing: 20px;
    font-size: 75px;
    color: #CB9138; 
    grid-row: row-start;
    grid-column: 375px;
    text-shadow: 10px 14px 30px cornflowerblue;
}

#TheWeeknd_text {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 10px;
    font-size: 75px;
    color: #372F0F;
    }

.grid {
    grid-template-columns: 1618px;
    grid-template-rows: 749px;
    
}

#TheWeeknd_img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 1000pt;
}
